<app-item-edit></app-item-edit>
<button type="button" class="btn btn-primary m-2" data-toggle="modal" hidden="true" data-target="#EditModal" #openBtn>
  Редактировать
</button>
<div class="row">
  <div class="col-2">
    <div class="border-bottom border-primary mb-2" style="width: 100% ">
      <h4>Управление</h4>
    </div>
    <div class="border-bottom border-primary mb-2" style="width: 100% ">
      <app-item-new></app-item-new>
    </div>

  </div>
  <div class="col-10">
    <div class="d-flex justify-content-start">
      <div class="col-md-10">
        <table class="table table-hover">
          <thead>
            <th>
              Наименование
            </th>
            <th>
              Код товара
            </th>
            <th>
              Цена
            </th>
            <th>
              Категория
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of apiService.itemList" (click)="onRowClick(item)">
              <td>
                {{item.name}}
              </td>
              <td>
                {{item.code}}
              </td>
              <td>
                {{item.price}}
              </td>
              <td>
                {{item.category}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>