
.DS_Store
.vs/Market/DesignTimeBuild/.dtbcache
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide
Market/obj/Debug/netcoreapp2.2/Market.assets.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.CoreCompileInputs.cache
Market/obj/Debug/netcoreapp2.2/Market.csprojAssemblyReference.cache
Market/obj/Market.csproj.nuget.cache
Market/obj/Market.csproj.nuget.dgspec.json
Market/obj/Market.csproj.nuget.g.props
Market/obj/Market.csproj.nuget.g.targets
Market/obj/project.assets.json
Market/appsettings.json

Market/Resources/Images/
.vs/Market/config/applicationhost.config
.vs/Market/v16/.suo
Market/bin/Debug/netcoreapp2.2/appsettings.json
Market/bin/Debug/netcoreapp2.2/Market.deps.json
Market/bin/Debug/netcoreapp2.2/Market.dll
Market/bin/Debug/netcoreapp2.2/Market.pdb
Market/bin/Debug/netcoreapp2.2/Market.runtimeconfig.dev.json
Market/obj/Debug/netcoreapp2.2/Market.csproj.FileListAbsolute.txt
Market/obj/Debug/netcoreapp2.2/Market.dll
Market/obj/Debug/netcoreapp2.2/Market.pdb
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide-wal
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide-shm
.vs/Market/v16/Server/sqlite3/storage.ide-wal
Market/appsettings.json
Market/obj/Debug/netcoreapp2.2/Market.assets.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.CoreCompileInputs.cache
Market/obj/Market.csproj.nuget.cache
Market/obj/Market.csproj.nuget.dgspec.json
Market/obj/Market.csproj.nuget.g.props
Market/obj/Market.csproj.nuget.g.targets
Market/obj/project.assets.json
