<div class="row">
    <div class="col-3 position-fixed">
        <div class="d-flex justify-content-between border-bottom border-primary">
            <ul class="nav ">
                <div class="border-bottom border-primary mb-2" style="width: 100% ">
                    <h4>Фильтры</h4>
                </div>
                <h5>По статусу</h5>
                <li class="nav-item">
                    <button type="button" class="btn btn-link" (click)="filterOrdersByStatus('All')">Все</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link" (click)="filterOrdersByStatus('New')">Новые</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link"
                        (click)="filterOrdersByStatus('Processing')">Выполняются</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link"
                        (click)="filterOrdersByStatus('Complete')">Выполненные</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link"
                        (click)="filterOrdersByStatus('Canceled')">Отмененные</button>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between border-bottom border-primary mt-4" id="navbar-example2">

            <ul class="nav ">
                <h5>По пользователю</h5><br>
                <input class="form-control">
                <div style="overflow-y: scroll; width: 100%; height:400px;">
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let user of users " (click)="filterOrdersByUser(user)">
                                <td>
                                    {{user.userName}}
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </ul>
        </div>
    </div>
    <div class="offset-3 col-9">
        <div class="container">
            <div class="row">
                <div class="card m-1" *ngFor="let order of orders; let i =index" style="width: 100%;">
                    <div class="card " style="width: 100%;">
                        <p class="card-text m-2">Заказ номер {{order.id}}</p>
                        <p class="card-text m-2">Дата доставки: {{getDate(order.shipment_Date)}}</p>
                        <div class="m-2" *ngIf="isOrderEdit(order.id)" style="width:140px">
                            <input type="text"
                            #dateInput
                                   placeholder="Выбирете дату"
                                   class="form-control"
                                   bsDatepicker                                                                    
                                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                   [(ngModel)]="shipDate"
                                    (ngModelChange)="onDateChange(dateInput.value, order)"                                    
                                    >
                          </div>                          
                       
                        <p class="card-text m-2">Дата заказа: {{getDate(order.order_Date)}}</p>
                        <div>
                            <p class="card-text m-2">Сатус: {{order.status}}</p>
                            <button type="button" class="btn btn-link" *ngIf="!isOrderEdit(order.id)"
                                (click)="editOrder(order)">Изменить</button>
                            <div *ngIf="isOrderEdit(order.id)">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Сменить статус
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" (click)="changeStatus(order, 'Новый')">Новый</a>
                                    <a class="dropdown-item"
                                        (click)="changeStatus(order, 'Выполняется')">Выполняется</a>
                                    <a class="dropdown-item" (click)="changeStatus(order, 'Выполнен')">Выполнен</a>
                                    <a class="dropdown-item" (click)="changeStatus(order, 'Отменен')">Отменить заказ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 100%;">
                        <table class="table align-middle">
                            <thead>
                                <th>Наименование</th>
                                <th>Категория</th>
                                <th>Количество</th>
                                <th>Цена за шт</th>
                                <th>-</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let orderItem of order.orderItems; let i =index">
                                    <td>
                                        {{orderItem.item.name}}
                                    </td>
                                    <td>
                                        {{orderItem.item.category}}
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <button class="btn btn-link p-1 countBtn" *ngIf="isOrderEdit(order.id)"
                                                (click)="reduceQuantity(orderItem)" style="font-size: small;">-</button>
                                            <div>{{orderItem.items_count}}</div>
                                            <button class="btn btn-link p-1 countBtn" *ngIf="isOrderEdit(order.id)"
                                                (click)="increaseQuantity(orderItem)"
                                                style="font-size: small;">+</button>
                                        </div>
                                    </td>
                                    <td>
                                        {{orderItem.item_Price}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" *ngIf="isOrderEdit(order.id)"
                                            (click)="deleteItem(order, orderItem.id)">Удалить</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="isOrderEdit(order.id)" class="d-flex justify-content-between">
                        <div class="d-flex justify-content-between ml-2">
                            <p class="my-auto mr-1"> Добавить товар: </p>
                            <div class="position-relative my-auto">
                                <input class="form-control my-auto" name="searchBox" (keyup)="onChange()"
                                    autocomplete="off" [(ngModel)]="searchItem"
                                    style=" width: 150px; height: 2em; min-height: 1em;">
                                <div class="position-absolute shadow-lg"
                                    style="background-color: white; z-index: 10; width: 150px">
                                    <table *ngIf="items" class="table table-hover" style="margin: 0px">
                                        <tbody>
                                            <tr *ngFor="let item of items" (click)="addOrderItem(order, item)">
                                                <td>
                                                    {{item.name}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-secondary m-1" (click)="cancelEdit(order)">Отменить</button>
                            <button class="btn btn-primary m-1" (click)="saveChanges(order)">Сохранить</button>
                        </div>
                    </div>
                    <div class="ml-2">
                        <p>Сумма: {{totalPrice(order)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>