<!-- Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditeModalLabel">Изменение товара</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #form="ngForm" id="EditForm" (submit)="onSubmit(form)">
                    <div class="container">
                        <div class="form-group">
                            <label>Наименование товара</label>
                            <input class="form-control" name="name" [(ngModel)]="apiService.editItem.name" required />
                        </div>
                        <div class="form-group">
                            <label>Код товара</label>
                            <input class="form-control" name="code" [(ngModel)]="apiService.editItem.code" required />
                        </div>
                        <div class="form-group">
                            <label>Цена</label>
                            <input class="form-control" name="price" [(ngModel)]="apiService.editItem.price" required />
                        </div>
                        <div class="form-group">
                            <label>Категория</label>
                            <input class="form-control" name="category" [(ngModel)]="apiService.editItem.category"
                                required />
                        </div>
                    </div>
                    <div class="container" *ngFor="let image of apiService.images">
                        <button type="button" class="close" aria-label="Close"
                            (click)="apiService.deleteOneImage(image)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img class="img-fluid m-2" src="{{image}}" alt="">
                    </div>
                    <app-upload-image></app-upload-image>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"
                    #closeBtn>Отмена</button>
                <button class="btn btn-danger" (click)="onDelete()">Удалить товар</button>
                <button type="submit" form="EditForm" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>